@{
    ViewBag.Title = "Links";
}

<h2>Links</h2>


<ul>
    <li>@Html.ActionLink("Error in CS", "ErrorInCS")</li>
    <li>@Html.ActionLink("Missing View", "MissingView")</li>
    <li>@Html.ActionLink("Alert window", "AlertWindow")</li>
    <li>@Html.ActionLink("Confirm window", "ConfirmWindow")</li>
    <li>@Html.ActionLink("Prompt window", "PromptWindow")</li>
    <li>@Html.ActionLink("Various Controls", "VariousControls")</li>
</ul>